    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>I graduated from St. John's University in Minnesota in 2018, majoring in Computer Science and minoring in 
                    Math. In the Fall of 2018 I will begin my PhD at the University of Oregon working with Dr. Dejing Dou on 
                    explainable deep learning systems. My hope is to leverage the knowledge I gain to help build provably 
                    safe and beneficial AI.
                <p> In my free time I love to play guitar, play poker, read, and fly fish.
            </div>
        </div>
    </section>
