 <!-- Projects Section -->
    <section id="projects" class="container content-section text-center">
     <h2>Selected Projects</h2>
        <div class="container">
	   <style> 
	   	table.custom_table {
    			border: 3px solid white;
			border-collapse: separate;
    			border-spacing: 10px 10px;
			margin-left: auto; 
    			margin-right: auto;
			width: 60%;
		}
     	 </style>
		<table class="custom_table">
			<tr>
				<th>
					<img width="170" src="img/sbj_6_composite_win_loss.png" class="adam-paper"/>
				</th>
				<th class="entry">
					<a href="https://digitalcommons.csbsju.edu/honors_thesis/44/"><big>AI-Human Collaboration Via EEG</big></a><br>CSBSJU Digital Commons, 2018<br>
					<br>
					<small class="authors">
						A. Noack, B. Faber, M. Heroux
					</small>
					<br>
					<ul class="list-inline list-inline-x text-left">
						<li>
							<a href="https://github.com/a1noack/eeg_data_analysis" target="_blank" class="btn-x btn-default-x btn-lg-x"><i class="fa fa-github fa-fw"></i> <span class="network-name">github</span></a>
						</li>
					</ul>
				</th>
			</tr>
		</table>
        </div>
	    
	    
	<article class="Shared-Card post tag-joshua-achiam tag-parnian-barekatain tag-hash-events tag-hash-design-card-slate-mid" id="hackathon-follow-up">
        <a class="Shared-Card-anchor" href="/hackathon-follow-up/" style="transform: rotateY(1e-07deg) rotateX(0deg) rotateZ(0deg) scale(1);">

          <span class="Shared-Card-background">
              <span class="Shared-Card-glare" style="transform: translate(1px, 0px);"></span>
            <span class="Shared-Card-background-inner">

              <svg class="icon" width="100%" height="100%" viewBox="0 0 330 418">
                    <use class="background-shape" xlink:href="#triangle" x="0" y="0"></use>
                            </svg>

            </span>
          </span>

          <span class="Shared-Card-inner">
            <h2 class="Shared-Card-title">
                    Report from the OpenAI Hackathon
            </h2>



                <span class="Shared-Card-iconContainer">
                  <span class="Shared-Card-iconCSS">
                    <span class="Shared-Card-iconCSS-img
                                
                                
                                
                                
                                Shared-Card-iconCSS-img--events"></span>
                  </span>

                </span>

              

              <span class="Shared-Card-meta">
                <span class="Shared-Card-meta-category"></span>
                <span class="Shared-Card-meta-date">
                  <time datetime="2018-03-15">Mar 15, 2018</time>
                </span>
              </span>

            


          </span>
        </a>
     </article>
    </section>
         

