 <!-- Projects Section -->
    <section id="projects" class="container content-section text-center">
     <h2>Selected Projects</h2>
        <div class="container">
	   <style> 
	   	table.custom_table {
    			border: 3px solid white;
			border-collapse: separate;
    			border-spacing: 10px 10px;
			margin-left: auto; 
    			margin-right: auto;
			width: 60%;
		}
     	 </style>
		<table class="custom_table">
			<tr>
				<th>
					<img width="170" src="img/sbj_6_composite_win_loss.png" class="adam-paper"/>
				</th>
				<th class="entry">
					<a href="https://github.com/CEN-Control-Systems-Lab/Controls-BootCamp"><big>Control System BootCamp Presentations</big></a><br>Collections of ipython notebooks, 2018<br>
					<br>
					<small class="authors">
						By Masters Students
					</small>
					<br>
					<ul class="list-inline list-inline-x text-left">
						<li>
							<a href="https://github.com/CEN-Control-Systems-Lab/Controls-BootCamp" target="_blank" class="btn-x btn-default-x btn-lg-x"><i class="fa fa-github fa-fw"></i> <span class="network-name">github</span></a>
						</li>
					</ul>
				</th>
			</tr>
		</table>
        </div>
    </section>
         

